CONFIG VCCAUX=3.3;

NET "SYS_CLK_N" LOC = A14;
NET "SYS_CLK_P" LOC = B14;

NET "USER_LED[0]" LOC = Y3;
NET "USER_LED[1]" LOC = Y1;
NET "USER_LED[2]" LOC = W2;
NET "USER_LED[3]" LOC = W1;
NET "USER_LED[4]" LOC = V3;
NET "USER_LED[5]" LOC = V1;
NET "USER_LED[6]" LOC = U2;
NET "USER_LED[7]" LOC = U1;
